<div class="container">        
	<div class="jumbotron">
	  <h1>Freight - TMS</h1>
	  <p>Freight - TMS is your best source for freight</p>
	  <!-- <p><a class="btn btn-primary btn-large">You are a Shipper? Start now! &raquo;</a></p> -->
	  <!-- <p><a class="btn btn-primary btn-large">You are a Carrier? See the bids! &raquo;</a></p>   -->
	  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
	</div>

<!-- http://www.onextrapixel.com/2012/11/12/how-to-use-twitter-bootstrap-to-create-a-responsive-website-design/ -->

  <div class="row">
  	<div class="col-lg-4">
	    <div class="well well-lg">
	      <h2>For Shipper</h2>
	      <p>With Freight - TMS can provide your shipper freight for the entire national market and get the cheapest deals for top carriers. </p>
	      <p><%= link_to "Start now!", shipper_info_path(), class: "btn btn-info" %></p>
	    </div>
	  </div>
  
    <div class="col-lg-4">
	    <div class="well well-lg">
	      <h2>For Carrier</h2>
	      <p>Here at Freight - TMS carrier you will find the best freight, for the best prices cargo exactly where you are, without loss of time and money. </p>
	      <p><a class="btn btn-info" href="#">See the best deals on the market! &raquo;</a></p>
	    </div>
  	</div>

  	<div class="col-lg-4">
	    <div class="well well-lg">
	      <h2>For You</h2>
	      <p>Freight - TMS approaching those in need who carries freight, creating a vast network of shippers and carriers, allowing reduction of waiting time and cost! </p>
	    </div>
	  </div>
  </div>
</div>
	