<header id="site-header">
  <div class="row">
    <div class="main-header">
      <%= link_to("Administre os seus fretes", rails_admin_path, :class => "button-login") %>
      <h1>O seu frete está aqui!</h1>
    </div>
  </div>
</header>

<main role="main" id="main-content" class="group">
  <div class="row">
  </div>

  <!-- <form name="form_seguradora" id="form_seguradora" method="post" action="" target="_blank"></form> -->
</main>