<header id="site-header">
  <div class="row">
    <div class="main-header">
      <%= link_to("Administre os seus fretes", rails_admin_path, :class => "button-login") %>      
    </div>
  </div>
</header>

<main>
  <h1>O seu frete está aqui!</h1>
</main>

<body-bg>
  <%= render partial: "freights" %>   
</body> 