<div class="span8 text-right">
</div>
<div class="span4 text-right">				
	<%= link_to "Discard changes", freights_path(), class: 'btn btn-small btn-warning' %>
	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
			<i class="icon-ok icon-white"></i> Create freight
	<% end %>
</div>