<%= form_tag(contact_added_path, contact: @contact, remote: true, style: 'none') do %>

	<div class="bs-docs-section">
		<div class="row">
			<div name="contact" id="contact">

				<h3>New contact</h3> 
				<div class="col-lg-3">
					<label>Name</label>
					<input id="name" name="name" type="text" class="form-control" placeholder="Type something…">
				</div>

				<div class="col-lg-5">
					<label>Email</label>
					<input id="email" name="email" type="text" class="form-control" placeholder="Email">
				</div>  

				<div class="col-lg-2">
					<label>Celphone</label>
					<input id="celphone" name="celphone" type="text" class="form-control" placeholder="(00) 00000-0000">
				</div>

	    	<div class="col-lg-2">
					<div class="form-group">
						<label>Add contact</label>


						<button id="add_contact" name="add_contact" type="button" class="btn btn-primary">Add contact</button>

	    		</div>
	    	</div>	
			</div>
		</div>
	</div>
<% end %>