<div name="shipper" id="shipper">

	<legend>Shipper details</legend> 
	<div class="span6">
		<label>Name</label>
		<input id="name" name="name" type="text" class="span6" placeholder="Type something…">
	</div>

	<div class="span6">
		<label>CNPJ</label>
		<input id="cnpj" name="cnpj" type="text" class="span3" placeholder="Type something…">
	</div>  

	<legend>Address</legend>			
	<div class="span12">
		<label>CEP</label>
		<input id="cep" name="cep" type="text" class="span2" placeholder="Type something…">
	</div>
	<div class="span12">
		<label>City</label>
		<%= collection_select(:city, :name, City.all, :id, :name, {}, {class: "span4"}) %>		
	</div>

	<div class="span6">
		<label>Address</label>	
		<input id="address" name="address" type="text" class="span5" placeholder="Type something…">
	</div>
	<div class="span6">
		<label>Address number</label>	
		<input id="address_number" name="address_number" type="text" class="span1" placeholder="Type something…">
	</div>

	<div class="span6">
		<label>Phone</label>	
		<input id="phone" name="phone" type="text" class="span2" placeholder="Type something…">
	</div>
	<div class="span6">
		<label>Alternative phone</label>	
		<input id="alternative_phone" name="alternative_phone" type="text" class="span2" placeholder="Type something…">	
	</div>
</div>