<div class="bs-docs-section">
	<div class="row">
		<div name="user" id="user">
			<h1>User admin email</h1> 
			<p>
				<small>This email is your administrator login. After you finish to type these informations, you will receive a confirmation email to unlock your new account. </small>
			</p>

			<div class="col-lg-4" name="user" id="user">
				<div class="form-group">
					<label class="control-label" for="email">Email</label>
					<input id="email" name="email" type="text" class="form-control" placeholder="Email">		
				</div>
			</div>
		</div>
	</div>
</div>