<div class="bs-docs-section">
	<div class="row">
		<div name="user" id="user">
			<h1>User details</h1> 
			<p>
				<small>The user details is your administrator login. You can create another users in the end of subscription.</small>
			</p>

			<div class="col-lg-8" name="user" id="user">
				<label>Email</label>
				<input id="email" name="email" type="text" class="form-control" placeholder="Email">		
			</div>
			<div class="col-lg-2">
				<label>Password</label>			
				<input id="password" type="password" name="password" placeholder="Password" class="form-control">
			</div>		

			<div class="col-lg-2">
				<label>Confirm password</label>			
				<input id="confirmed_password" type="password" name="confirmed_password" placeholder="Confirm password" class="form-control">		
			</div>	
		</div>
	</div>
</div>