<div class="container">
	<div class="bs-docs-section">
		<div class="page-header">
			<p class="lead">We are almost done! Now, lets create your first freight by informing below fields and starts to use the TMS-Freight!</p>			
		</div>
	</div>

	<div class="bs-docs-section clearfix">
		<%= render partial: "new_freight" %>		

		<div class="form-group">
  		<div class="col-lg-12 col-lg-offset-10">
        <%= link_to "I will create a freight later...", new_freight_path(), class: "btn btn-default"%>
  		</div>
  	</div>				

	</div>

	<footer>
		<div class="row">
      <div class="col-lg-12">
        <ul class="list-unstyled">
        </ul>
      </div>
    </div>
	</footer>

</div>