<!-- http://demos.themelize.me/flexor/pricing.htm -->

<div class="container">

  <div class="bs-docs-section">
    <div class="page-header">
      <h1>Freight - TMS</h1>
      <p class="lead">Please choose the plan that best suits your needs!</p>
    </div>
  </div>

  <h1>Our plans</h1>

	<div class="pricing-stack">
    <div class="row">

      <div class="col-lg-4">
        <div class="well pricing well-lg">
          <h3 class="title"><span class="uc">Flex</span><em>Starter</em></h3>
          <p class="price"><span class="currency">$</span> <span class="digits">19.<span>95</span></span> <span class="term">/mo.</span></p>
          <div class="border">
            <ul class="unstyled points">
              <li>3 User Accounts</li>
              <li>3 Private Projects</li>
              <li>Unlimited Projects</li>
              <li>5GB of space</li>
            </ul>
            <%= link_to "Choose Plan", pricing_choosed_path(plan: :flex), class: "btn btn-success btn-small"%>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="well well-lg">
          <h3 class="title"><span class="uc">Team</span></h3>
          <p class="price"><span class="currency">$</span> <span class="digits">49.<span>95</span></span> <span class="term">/mo.</span></p>
          <div class="border">
            <ul class="unstyled points">
              <li>50 User Accounts</li>
              <li>50 Private Projects</li>
              <li>Unlimited Projects</li>
              <li>Unlimited space</li>
            </ul>
            <%= link_to "Choose Plan", pricing_choosed_path(plan: :team), class: "btn btn-success btn-small"%>
          </div>
        </div>
      </div>

      <div class="col-lg-4">      
        <div class="well well-lg active">
          <h3 class="title">Enterprise</h3>
          <p class="price"><span class="currency">$</span> <span class="digits">199.<span>95</span></span> <span class="term">/mo.</span></p>
          <div class="border">
            <ul class="unstyled points">
              <li>100 User Accounts</li>
              <li>100 Private Projects</li>
              <li>Unlimited Projects</li>
              <li>Unlimited space</li>
            </ul>
            <%= link_to "Choose Plan", pricing_choosed_path(:enterprise), class: "btn btn-primary btn-small"%>
          </div>
        </div>
      </div>  

    </div>    
  </div>

</div>